# Lab 3 : Sudhan Shrestha 8889436

In [12]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np
import pandas as pd

In [13]:
# Getting the data
diabetes_X, diabetes_y = datasets.load_diabetes(return_X_y=True)

In [14]:
print(f"Shape of the data imported : \n")
print(f"diabetes_X Shape : {diabetes_X.shape}")
print(f"diabetes_y Shape : {diabetes_y.shape}")

# Reshaping the diabetes_X for our model
new_diabetes_X = diabetes_X.reshape(-1,1)
print(f"new_diabetes_X Shape: {new_diabetes_X.shape}")

# importing the feature names of the data
feature_names = datasets.load_diabetes().feature_names
print(f"\nFeature Names : {feature_names}")

Shape of the data imported :

diabetes_X Shape : (442, 10)
diabetes_y Shape : (442,)
new_diabetes_X Shape: (4420, 1)

Feature Names : ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [15]:
# Converting the datas into dataframe
#Converting for diabetes_X
diabetes_X = pd.DataFrame(diabetes_X)
diabetes_X.columns=feature_names
diabetes_X.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [16]:
#Converting for diabetes_y
diabetes_y = pd.DataFrame(diabetes_y)
diabetes_y.columns= ['Disease Progression']
diabetes_y.head()

   Disease Progression
0                151.0
1                 75.0
2                141.0
3                206.0
4                135.0

## Statistics of data of diabeties_X

In [17]:
# X_mean = np.mean(diabetes_X, axis=0)
# X_sd = np.std(diabetes_X, axis=0)
# X_min = np.min(diabetes_X,axis=0)
# X_max = np.max(diabetes_X, axis=0)
# stat_names = ['Mean', 'Standard Deviation', 'Minimum', 'Maxmium']
# df = pd.DataFrame([X_mean, X_sd, X_min, X_max], columns=feature_names, index=stat_names)
# df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
Mean,-1.444295e-18,2.543215e-18,-2.255925e-16,-4.854086e-17,-1.428596e-17,3.898811e-17,-6.028360e-18,-1.788100e-17,9.243486e-17,1.351770e-17
Standard Deviation,4.756515e-02,4.756515e-02,4.756515e-02,4.756515e-02,4.756515e-02,4.756515e-02,4.756515e-02,4.756515e-02,4.756515e-02,4.756515e-02
Minimum,-1.072256e-01,-4.464164e-02,-9.027530e-02,-1.123988e-01,-1.267807e-01,-1.156131e-01,-1.023071e-01,-7.639450e-02,-1.260971e-01,-1.377672e-01
Maxmium,1.107267e-01,5.068012e-02,1.705552e-01,1.320436e-01,1.539137e-01,1.987880e-01,1.811791e-01,1.852344e-01,1.335973e-01,1.356118e-01

## Statistics of data of diabeties_y

In [18]:
# y_mean = np.mean(diabetes_y, axis=0)
# y_sd = np.std(diabetes_y, axis=0)
# y_min =  np.min(diabetes_y,axis=0)
# y_max = np.max(diabetes_y, axis=0)
# column_name =feature_names

# data_poyab = {'Mean': [y_mean], 'Standard Deviation': [y_sd], 'Minimum Value': [y_min], 'Maximum Value':y_max, }

# df = pd.DataFrame(data=data_poyab)
# df

,Mean,Standard Deviation,Minimum Value,Maximum Value
Disease Progression,Disease Progression 152.133484 dtype: float64,Disease Progression 77.005746 dtype: float64,Disease Progression 25.0 dtype: float64,346.0

In [19]:
model = LinearRegression()